body {
    background-color: #44344F;
    font-family: verdana;
}

h1 {
    color: #C2F970;
    font-size: 40px;
    text-align: center;
}

p {
    color: #D3FCD5;
    text-align: center;
}

button {
    border-style: solid;
    border-color: #C2F970;
    border-width: 4px;
    background-color: #564D80;
    font-size: 60px;
    align-self: center;
    color:#C2F970;
    width: 50%;
    
}

button:hover {
    background-color: #44344F;
}


div {
    margin: auto;
    padding-top: 20px;
}